* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: rgb(45, 70, 130);
  position: sticky;
  top: 0;
  z-index: 1;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar li {
  list-style: none;
  margin: 0 5%;
}

.navbar a {
  flex: 1 4em;
  text-align: center;
  color: #e0e0e0;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}