.teamGrid {
  flex: 1 1 80%;
  display: flex;
  flex-flow: row wrap;
}

.teamContainer {
  flex: 1 250px;
  border: 2px solid #e0e0e0;
  /*padding: 1em;*/
  border-radius: 1em;
  overflow: auto;
  margin: 0.5em;
}

.teamBackground {
  padding: 0.5em 0.5em 1.5em;
  margin: 0.5em;
  border-radius: 1em;
  background-color: rgba(245, 245, 245, 1);
  font-family: consolas, lucida console, courier new, monospace;
}

.teamContainer table {
  border-collapse: collapse;
  /*border: 2px solid red;*/
  margin: auto;
  table-layout: auto;
}

.teamContainer th, .teamContainer td {
  /*border: 2px solid red;*/
  border-bottom: 1px solid;
  /*font-family: consolas, lucida console, courier new, monospace;*/
  color: #808080;
}

.teamContainer td {
  padding: 0.2em 1em;
  font-style: italic;
  text-transform: capitalize;
  /*vertical-align: top;*/
}

.teamContainer svg {
  width: 2em;
}

h3 {
  margin: 0.4em;
  padding: 0;
  color: #404040;
}

.tableHeader {
  display: flex;
  flex-flow: row wrap;
}

.tableHeaderPts {
  flex: 1 1em;
  text-align: right;
}

.teamsPageContainer {
  display: flex;
  flex-flow: row;
}

.standingsPane {
  flex: 1 1 10%;
  position: sticky;
  top: 4em;
  align-self: flex-start;
  /*background-color: black;*/
}
