/* {
  box-sizing: border-box;
  margin: 0;
}*/

/* Everything under the header */
.teamsMain {
  display: flex;
  flex-flow: row nowrap;
  /*position: relative;*/ /* maybe? */
}

/* Left side standings */
.standingsPane {
  flex: 0 1 15em;
  position: sticky;
  top: 3em; /* (navbar link: 0.4em * 2) + (navbar list: 1em * 2) + */
  align-self: flex-start;
}

/* Everything to the right of the standings (teams and sort bar) */
.teamsPane {
  flex: 1 1 calc(100% - 15em);
}

.sortBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 3em;
  margin: 0 5%;
}

.sortBar * {
  margin: 0 0.5em;
}

.sortBar select {
  padding: 0.25em;
}

.teamGrid {
  display: flex;
  flex-flow: row wrap;
}

.teamContainer {
  flex: 1 250px;
  border: 2px solid #e0e0e0;
  border-radius: 1.5em;
  overflow: auto;
  margin: 0.5em;
}

.standingsContainer {
  background-color: white;
}

.teamBackground {
  padding: 0.5em 0.5em 1.5em;
  margin: 0.5em;
  border-radius: 1em;
  background-color: rgba(245, 245, 245, 1);
  font-family: consolas, lucida console, courier new, monospace;
}

.teamContainer table {
  border-collapse: collapse;
  margin: auto;
  table-layout: auto;
}

.teamContainer th, .teamContainer td {
  border-bottom: 1px solid;
  /*font-family: consolas, lucida console, courier new, monospace;*/
  color: #808080;
}

.teamContainer td {
  padding: 0.2em 1em;
  font-style: italic;
  text-transform: capitalize;
}

.teamContainer svg {
  width: 2em;
}

.eliminated {
  text-decoration: line-through;
}

h3 {
  margin: 0.4em;
  padding: 0;
  color: #404040;
}

.tableHeader {
  display: flex;
  flex-flow: row wrap;
}

.tableHeaderPts {
  flex: 1 1em;
  text-align: right;
}

.standingsBar, .standingsDropdown {
  display: none;
}

.standingsBar, .standingsBar * {
  background-color: rgb(105, 140, 200);
}


.standingsBar button {
  border: none;
  flex: 1 1 100%;
  height: 2em;
  font-size: 1em;
  text-transform: uppercase;
}


@media only screen and (max-width: 768px) {
  .standingsPane {
    display: none;
  }

  .standingsBar {
    position: sticky;
    top: 3em; /* navbar height: 3em */
    display: flex;
    z-index: 1;
  }

  .standingsDropdown.visible {
    display: block;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    color: red;
  }

}